.group {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    margin-left: 3rem;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem;
}

.initials {
    background-color: #0047FF;
    padding: 1rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #FFF;


}
